body {
  max-width: 1200px;
  min-width: 800px;
  margin: auto;
}
.container {
  margin: 20px 20px;
}
.form-container {
  border-style: hidden;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.addBtn {
  margin-left: 10px;
  background-color: teal;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.addBtn:hover {
  background-color: #d9534f;
}
form > input {
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.workingTodo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.work {
  width: 300px;
  height: 200px;
  border: 5px solid teal;
  border-radius: 10px;
  margin: 15px;
  padding: 20px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.button > button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin: 10px;
  font-weight: bold;
}
